{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to Kirloskar Dental Clinic</title>
</head>


<body>

    
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
      
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      
      
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
    
        <link rel="stylesheet" href="static/css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animate.css">
        
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="static/css/magnific-popup.css">
    
        <link rel="stylesheet" href="static/css/aos.css">
    
        <link rel="stylesheet" href="static/css/ionicons.min.css">
    
        <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="static/css/jquery.timepicker.css">
    
        
        <link rel="stylesheet" href="static/css/flaticon.css">
        <link rel="stylesheet" href="static/css/icomoon.css">
        <link rel="stylesheet" href="static/css/style.css">
      </head>
      
        
          <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <p style="font-family:Courier New"><a class="navbar-brand" href="/"><img src="https://cdn-icons-png.flaticon.com/512/2461/2461711.png"width="62" 
                    height="62" ></span>
                    Kirloskar<br><small>Dental Clinic</small></p></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Doctors
                  </button>
             
              <div class="collapse navbar-collapse" id="ftco-nav">
                
                <ul class="navbar-nav ml-auto" padding-left:"30px", padding-right:"30px">
                  
					<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="/Doctors" class="nav-link">Meet our Doctors</a></li>
					<li class="nav-item"><a href="/Treatments" class="nav-link">Treatments</a></li>
					<li class="nav-item"><a href="/Blog" class="nav-link">Patient</a></li>
					
					<li class="nav-item"><a href="/Contact" class="nav-link">Contact</a></li>
					<li class="nav-item"><a href="/Login" class="nav-link">Login</a></li>
					<li class="nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
              </div>
            </center>
              </div>
          </nav>
        <!-- END nav -->
        <section class="home-slider owl-carousel img" style="background-image: url(https://assets.website-files.com/621324d2940bf176593eee01/624a7e88e078567ae8d6c397_AdobeStock_256407688.jpg);">
          <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text align-items-center" data-scrollax-parent="true">
    
                <div class="col-md-6 col-sm-12 ftco-animate">
                  <span class="subheading">Welcome to</span>
                  <h1 class="mb-4">Kirloskar Dental Clinic</h1>
                  <p class="mb-4 mb-md-5">A Superspeciality Dental Clinic in Chinchwad for Your Family Dental Care</p>
                  <p><a href="/signup" class="btn btn-primary p-3 px-xl-4 py-xl-3">Book Appointment</a> 
                </div>
                <div class="col-md-6 ftco-animate">
                 <img src="static/images/bg1.jpg">
                </div>
    
              </div>
            </div>
          </div>
    
          <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text align-items-center" data-scrollax-parent="true">
    
                <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                  <span class="subheading">We are here at your service</span>
                  <h1 class="mb-4">Kirloskar Dental Clinic</h1>
                  <p class="mb-4 mb-md-5">Safe Dental Treatment is Our First Priority</p>
                  <p><a href="/signup" class="btn btn-primary p-3 px-xl-4 py-xl-3">Book Appointment</a>
                </div>
                <div class="col-md-6 ftco-animate">
                  <img src="static/images/bg2.jpg" class="img-fluid" alt="">
                </div>
    
              </div>
            </div>
          </div>
    
          <div class="slider-item" style="background-image: url(static/images/bg3.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
    
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                  <span class="subheading">We Create Beautiful Smiles..</span>
                  <h1 class="mb-4">Kirloskar Dental Clinic</h1>
                  <p class="mb-4 mb-md-5">Your Smile Is The 1st Thing When People Notice You</p>
                  <p><a href="/signup" class="btn btn-primary p-3 px-xl-4 py-xl-3">Book Appointment</a>
                </div>
    
              </div>
            </div>
          </div>
        </section>
        <section class="ftco-intro">
          <div class="container-wrap">
            <div class="wrap d-md-flex">
              <div class="info">
                <div class="row no-gutters">
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="icon"><span class="icon-phone"></span></div>
                    <div class="text">
                      <h3>+91-9921614920</h3>
                      <p>kirlos1506@gmail.com</p>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="icon"><span class="icon-my_location"></span></div>
                    <div class="text">
                      <h3>SH 142/1D</h3>
                      <p>Pradhikaran Chinchwad</p>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="icon"><span class="icon-clock-o"></span></div>
                    <div class="text">
                      <h3>Open Monday-Friday</h3>
                    <p>10:00am - 2:00pm</p>
                      <p>5:00pm - 9:00pm</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="social d-md-flex pl-md-5 p-4 align-items-center">
                <ul class="social-icon">
                  <li class="ftco-animate"><a href="https://twitter.com/?lang=en-in"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="https://www.facebook.com"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="https://www.instagram.com"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
    
        <section class="ftco-about d-md-flex">
          <div class="one-half img" style="background-image: url(https://images.unsplash.com/photo-1629909615184-74f495363b67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVudGFsJTIwY2xpbmljfGVufDB8fDB8fA%3D%3D&w=1000&q=80);"></div>
          <div class="one-half ftco-animate">
            <div class="heading-section ftco-animate ">
              <h2 class="mb-4">Welcome to <img src="static/images/img1.png"><span>Kirloskar's</span> Dental Clinic</h2>
            </div>
            <div>
              <p>Kirloskar Dental Clinic is a Super Speciality Dental Center.
              Super Speciality Dental Center offers holistic oral health care services using most advanced technology and treatment procedures.
               Integrity and trust are two pillars of our services.
    
              Our team is committed to offer high standard of hospitality during your dental treatment at the center.</p>
            </div>
          </div>
        </section>
    
        <section class="ftco-section ftco-Treatments" style="background-image: url(https://thumbs.dreamstime.com/b/oral-hygiene-family-toothbrush-dental-floss-dentist-instruments-yellow-background-top-view-mock-up-table-134895173.jpg);"></section>
          <div class="overlay">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3" >
              <div class="col-md-7 heading-section ftco-animate text-center">
                <h1 class="mb-4">Our Treatments</h1>
                <h5>A genuine Smile comes from the heart, but a healthy smile needs good dental care</h5>
           </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 Treatments">
                  <div class="icon d-flex justify-content-center align-items-center mb-5">
                    <img src="static/images/Filling.jpg"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Dental Filling and Restoration</h3>
                    <p>Dental filling is used to repair minor fractures or decay in the teeth, as a form of restorative dental treatment. 
              </p>
                  </div>
                </div>      
              </div>
              <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 Treatments">
                  <div class="icon d-flex justify-content-center align-items-center mb-5">
            <img src="static/images/braces and aligners.jpg"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Braces and Aligners</h3>
                    <p>Braces are made of metal or porcelain and are attached to your teeth. Metal wires and rubber bands are then used .
</p>
                  </div>
                </div>      
              </div>
              <div class="col-md-4 ftco-animate">
                <div class="media d-block text-center block-6 Treatments">
                  <div class="icon d-flex justify-content-center align-items-center mb-5">
          <img src="static/images/Advance-gum-Treatment.jpg"></span>
          </div>
                  <div class="media-body">
                    <h3 class="heading">Advance gum Treatment</h3>
                    <p>Periodontitis is a severe gum infection that can lead to tooth loss and other serious health complications. 
              </p>
                  </div>
                </div>    
              </div>
            </div>
          </div>
        </section>
    
        <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Doctors</h2>
                <p>We consist of highly qualified group of doctors, all having 10+ years of experience in dental practice</p>
              </div>
            </div>
          </div>
            <div class="row no-gutters d-flex">
              <div class="col-lg-4 d-flex ftco-animate">
                <div class="Treatments-wrap d-flex">
                  <img src="static/images/d1.jpg">
                  <div class="text p-4">
                    <h3>Dr.Shruti Bhosekar</h3>
                  <h5>Dental Consultant and Center Head</h5>
                    <p>Cosmetic Dentistry,
                    Laser Treatment,
                    Dysfunction in the chewing apparatus
                    Dental Implantology</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex ftco-animate">
                <div class="Treatments-wrap d-flex">
                  <img src="static/images/d2.jpg">
                  <div class="text p-4">
                    <h3>Dr. Anushka Pandit</h3>
                  <h5>Laser Specialist, Periodontist</h5>
                    <p>Member of the Cambridge Academy of Dental Implantology in Cambridge, England</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex ftco-animate">
                <div class="Treatments-wrap d-flex">
                  <img src="static/images/d3.png">
                  <div class="text p-4">
                    <h3>Dr.Anurag Kacherikar</h3>
                  <h5>Orthodontist and Dentofacial Orthopedics</h5>
                    <p>Chief, Super Super Speciality Dental Center, Varanasi
                    Associate Professor at the Department of Orthodontics Dental College</p>
                    
                  </div>
                </div>
              </div>
          </div>
        </section>
        <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
            
            </div>
          </div>
          </div>
            <div class="row no-gutters d-flex">
              <div class="col-lg-4 d-flex ftco-animate">
                <div class="Treatments-wrap d-flex">
                  <img src="static/images/d4.jpg">
                  <div class="text p-4">
                    <h3>Dr. Riya Shetty</h3>
                    <h5>Consulting Dental Surgeon</h5>
                    <p>Senior Dental Consultant & Root Canal Treatment Expert.
                      Member of Indian Dental Association.</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex ftco-animate">
                <div class="Treatments-wrap d-flex">
                  <img src="static/images/d5.jpg">
                  <div class="text p-4">
                    <h3>Dr. Amit Rao</h3>
                    <h5>Laser Specialist and Periodontist</h5>
                    <p>MDS (Masters of Dental Surgery)-Orthodontics Certified Laser Dentist.Qualified Saudi Dental Licensure</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex ftco-animate">
                <div class="Treatments-wrap d-flex">
                  <img src="static/images/d6.jpg">
                  <div class="text p-4">
                    <h3>Dr.Sunil Arora</h3>
                    <h5>Senior Dental Consultant & Root Canal Treatment Expert</h5>
                    <p>Member of Indian Dental Association</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
        <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/images/food.png);" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
              <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">India's Largest Dental Clinic Chain</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5">Quality being the core value of the organization</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-1.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Clinics</span></h3>
                      <span class="price">350+</span>
                    </div>
                    <div class="d-block">
                      <p>There are more than 350 dental clinics</p>
                    </div>
                  </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-2.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Dental Filings</span></h3>
                      <span class="price">2,800+</span>
                    </div>
                    <div class="d-block">
                      <p>There are more than 2800 dental Filings done</p>
                    </div>
                  </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-3.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Tooth Extraction</span></h3>
                      <span class="price">1,200+</span>
                    </div>
                    <div class="d-block">
                      <p>We have more than 1200 tooth extractions done</p>
                    </div>
                  </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-4.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Ortho Cases</span></h3>
                      <span class="price">3,500+</span>
                    </div>
                    <div class="d-block">
                      <p>We have done more than 3,500 ortho cases</p>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-5.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Dentist</span></h3>
                      <span class="price">900+</span>
                    </div>
                    <div class="d-block">
                      <p>We have more than 900 dentists</p>
                    </div>
                  </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-6.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Root Canal</span></h3>
                      <span class="price">1,100+</span>
                    </div>
                    <div class="d-block">
                      <p>We have done root canal treatments</p>
                    </div>
                  </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-7.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Implant Placed</span></h3>
                      <span class="price">500+</span>
                    </div>
                    <div class="d-block">
                      <p>More than 500 implants were placed</p>
                    </div>
                  </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                  <div class="img" style="background-image: url(static/images/pizza-8.jpg);"></div>
                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>Laser Treatments</span></h3>
                      <span class="price">200+</span>
                    </div>
                    <div class="d-block">
                      <p>More than 200 Laser treatments done</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    
        <section class="ftco-gallery">
          <div class="container-wrap">
            <div class="row no-gutters">
              <div class="col-md-3 ftco-animate">
                <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(static/images/gallery-1.jpg);">
                  <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-search"></span>
                  </div>
                </a>
              </div>
              <div class="col-md-3 ftco-animate">
                <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(static/images/gallery-2.jpg);">
                  <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-search"></span>
                  </div>
                </a>
              </div>
              <div class="col-md-3 ftco-animate">
                <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(static/images/gallery-3.jpg);">
                  <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-search"></span>
                  </div>
                </a>
              </div>
              <div class="col-md-3 ftco-animate">
                <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(static/images/gallery-4.jpg);">
                  <div class="icon mb-4 d-flex align-items-center justify-content-center">
                    <span class="icon-search"></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
    
    
        <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
          <div class="container">
        </section>
    
        <section class="ftco-menu">
          <div class="container-fluid">
            <div class="row d-md-flex">
              <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(static/images/about.jpg);">
              </div>
              <div class="col-lg-8 ftco-animate p-md-5">
                <div class="row">
                  <div class="col-md-12 nav-link-wrap mb-5">
                    <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      
                  </div>
                  <div class="col-md-12 d-flex align-items-center">
                    
                    <div class="tab-content ftco-animate" id="v-pills-tabContent">
    
                      <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/pizza-1.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Clinics</a></h3>
                                <p>We have more than 350 dental clinics</p>
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/pizza-2.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Dental Filings</a></h3>
                                <p>There are more than 2800 dental filings done</p>
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/pizza-3.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Tooth Extraction</a></h3>
                                <p>We have more than 1200 tooth extractions done</p>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/drink-1.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Lemonade Juice</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/drink-2.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Pineapple Juice</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/drink-3.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Soda Drinks</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/burger-1.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Itallian Pizza</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/burger-2.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Itallian Pizza</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/burger-3.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Itallian Pizza</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/pasta-1.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Itallian Pizza</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/pasta-2.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Itallian Pizza</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 text-center">
                            <div class="menu-wrap">
                              <a href="#" class="menu-img img mb-4" style="background-image: url(static/images/pasta-3.jpg);"></a>
                              <div class="text">
                                <h3><a href="#">Itallian Pizza</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                                <p class="price"><span>$2.90</span></p>
                                <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/images/b1.jpg);" data-stellar-background-ratio="0.5">
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Patient Testimonials</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">We consists of highly qualified group of doctors ,all having 10+ years of experience in dental practise.</p>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
                    <h6>"I visited this Dental clinic yesterday. 
                    This clinic is located near UP college on Panch koshi road in Varanasi city. Location of this clinic can also searched on Google map.
                     My first impression about this clinic was excellent .
                     I never expected that such type of neat & clean and well equipped dental clinic is available in Varanasi city.
                     I was also impressed very much with the treatment done and overall behaviour of the Doctor."</h6>
                    <div class="info text-center">
                
                      <div class="text">
                    <left><h3>  ~Varoon Kr. Sankrit</a></h3></left> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
              <h6>"Best dental treatment provided by Dr.piyush Sharma...great experience 
                😊..thanks for making me not to hate dental visit 😀😀😆"</h6>
              <div class="info text-center">
          
                <div class="text">
                    <left><h3>  ~Shrivatsalya Gupta</a></h3></left>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
              <h6>"It is one of the best dental clinics I have visited consisting of state of the art instruments and facilities along with highly qualified team of doctors.
                 I was impressed with the professionalism of the doctors in general and by dr Dipti and dr Piyush in particular. 
                 I wish them all the best in their future endeavours.</h6>
              
              <div class="info text-center">
          
                <div class="text">
              <left><h3>  ~Anagha Shetty</a></h3></left>  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
              <h6>"Smile is not just another dental Clinique but a true dental spa.
                It is clean, efficient hygenic plus i have never come across a dentist like Dr.Piyush who puts you at intant ease.
                Brilliant in his skill and with the most amazing sense of humor...Trust me with his around ...you would SMILE your way in and out of to the clinic..the best dentist ever ! 😊😊😁😁"</h6>
              <div class="info text-center">
          
                <div class="text">
              <left><h3>  ~Gargi Singh</a></h3></left>  
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
      
    
        
        <section class="ftco-appointment">
          <div class="overlay"></div>
          <div class="container-wrap">
            <div class="row no-gutters d-md-flex align-items-center">
              <div class="col-md-6 d-flex align-self-stretch">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15120.876792179977!2d73.75986646880727!3d18.65415717784341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9f08e172541%3A0x5bbb3144a58bcacf!2sPradhikaran%2C%20Nigdi%2C%20Pimpri-Chinchwad%2C%20Maharashtra%20411044!5e0!3m2!1sen!2sin!4v1675322533132!5m2!1sen!2sin" width="650" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
              </div>
              <div class="col-md-6 appointment ftco-animate">
                <h3 class="mb-3">Contact Us</h3>
                <form action="#" class="appointment-form">
                  <div class="d-md-flex">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="First Name">
                    </div>
                  </div>
                  <div class="d-me-flex">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary py-3 px-4">
                  </div>
                </form>
              </div>          
            </div>
          </div>
        </section>
    
        <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
           
          <div class="row mb-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About Us</h2>
            <p>Kirloskar Dental Clinic offers holistic oral health care services using most advanced technology and treatment procedures. Integrity and trust are two pillars of our services.Our team is committed to offer high standard of hospitality during your dental treatment at the center.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="https://twitter.com/?lang=en-in"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://www.facebook.com"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com"><span class="icon-instagram"></span></a></li>
            </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4 ml-md-4">
             <h2 class="ftco-heading-2">Centre Timings</h2>
             <ul class="list-unstyled">
             <li><a href="#" class="py-2 d-block">Monday</a></li>
             <li><a href="#" class="py-2 d-block">Tuesday</a></li>
             <li><a href="#" class="py-2 d-block">Wednesday</a></li>
             <li><a href="#" class="py-2 d-block">Thursday</a></li>
             <li><a href="#" class="py-2 d-block">Friday</a></li>
             
             </ul>
           </div>
           </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
             <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Treatments</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Dentures</a></li>
              <li><a href="#" class="py-2 d-block">Mobile Teeth Solution and Splinting</a></li>
              <li><a href="#" class="py-2 d-block">Laser Dentistry</a></li>
              <li><a href="#" class="py-2 d-block">Tooth Whitening</a></li>
              <li><a href="#" class="py-2 d-block">Dental Crowns and Bridges</a></li>
              <li><a href="#" class="py-2 d-block">Root Canal Treatment</a></li>
            </ul>
            </div>
          </div>
              
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              
              
                <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">SH 142/1 D,
      Pradhikaran,
      Chinchwad</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">
                +91-9921614920</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">Kirlos1506@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
          
      
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
          </div>
        </div>
        </footer>
        
      
           
        
      
    
      <!-- loader -->
      <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
    
    
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.easing.1.3.js"></script>
      <script src="static/js/jquery.waypoints.min.js"></script>
      <script src="static/js/jquery.stellar.min.js"></script>
      <script src="static/js/owl.carousel.min.js"></script>
      <script src="static/js/jquery.magnific-popup.min.js"></script>
      <script src="static/js/aos.js"></script>
      <script src="static/js/jquery.animateNumber.min.js"></script>
      <script src="static/js/bootstrap-datepicker.js"></script>
      <script src="static/js/jquery.timepicker.min.js"></script>
      <script src="static/js/scrollax.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
      <script src="static/js/google-map.js"></script>
      <script src="static/js/main.js"></script>
        
      </body>
    </html>      
          

          